@font-face {
    font-family: Poppins;
    src: url(../resources/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Arimo;
    src: url(../resources/fonts/Arimo-VariableFont_wght.ttf);
}

html {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.OSA-forms-page {
    display: flex;
}

.main-content {
    display: flex;
    width: 75vw;
    height: 140vh;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: "Arimo", sans-serif;
    margin-left: 300px;
}

.forms-container {
    display: flex;
    width: 1300px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.forms-title {
    display: flex;
    padding-right: 952px;
    align-items: center;
    align-self: stretch;
    font-size: large;
}

/* .forms-title p format here */

.forms-area {
    display: flex;
    height: 517.333px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.tab-buttons {
    display: flex;
    width: 194.438px;
    height: 36px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: #ECECF0;
}

.tab-buttons {
    margin-left: 20px;
    gap: 10px;
}

.form-tab-button {
    display: flex;
    height: 29px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
}

.submission-tab-button {
    display: flex;
    height: 29px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
}

.submission-badge {
    display: flex;
    width: 22.167px;
    height: 21.333px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 0.667px solid rgba(0, 0, 0, 0.00);
    background: #FB2C36;
}

.sort-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    width: 60vw;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    width: 939.271px;
    height: 36px;
    padding: 4px 12px 4px 40px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.667px solid rgba(0, 0, 0, 0.00);
    background: #F3F3F5;
}

.forms {
    display: flex;
    width: 75vw;
    height: 100vh;
    padding: 24px 0 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 0.667px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.form-header {
    display: flex;
    width: 72vw;
    height: 40px;
    padding-right: 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.form-description {
    display: flex;
    width: 324.875px;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.form-header-title h2 {
    margin: 0;
    padding: 0;
}

.create-form-button {
    display: flex;
    padding: 6.667px 10.74px 9.333px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(94deg, #036 1.19%, #001F3F 100.29%);
    color: white;
    font-weight: 500;
}

.forms-list {
    width: 60vw;
    min-height: 30vw;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
}

.forms-list h3 {
    margin: 0;
}

.form-table {
    width: 73vw;
    height: 70vh;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

.form-table th {
    height: 1vh;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.form-table tr{
    height: 48px
}

.form-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.table-headers {
    font-weight: 600;
    line-height: 24px;
}

.action-container {
    display: flex;
    gap: 10px;
}

.view-button {
    display: flex;
    padding: 4.667px 10.333px 7.333px 10.667px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.667px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.download-button {
    display: flex;
    width: 37px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.667px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}