@font-face {
    font-family: "Poppins";
    src: url(/resources/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Arimo";
    src: url(/resources/fonts/Arimo-VariableFont_wght.ttf);
}

.navigation-side-bar{
    position: fixed;
}

.navigation-container {
    width: 280px;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(180deg, #036 0%, #001F3F 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    width: 280px;
    padding: 20px 0 24px 0;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.image-SLU-logo img {
    width: 77.922px;
}

.banner-heading {
    display: flex;
    width: 232px;
    padding: 4px 14.109px 0 14.891px;
    justify-content: center;
    align-items: center;
}

.banner-text-wrapper {
    width: 203px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 26px;
}

.banner-text-wrapper h1{
    margin: 0;
    padding: 0;
    font-size: 30px
}

.menu-container {
    display: flex;
    width: 280px;
    height: 60vh;
    padding: 16px 0 0 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.menu-container text{
    font-family: "Arimo", sans-serif;
}

.menu-button {
    display: flex;
    width: 248px;
    height: 48px;
    padding-left: 12px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-button img {
    filter: brightness(0) invert(1);
    /* Make SVG white */
}

.menu-button:hover {
    border-radius: 12px;
    background: linear-gradient(135deg, #FFD700 0%, #FFC700 100%);
    opacity: 0.7;
    box-shadow: 0 4px 12px 0 rgba(255, 215, 0, 0.40);
    color: black;
}

.menu-button:hover img {
    filter: brightness(0);
    /* Make SVG black */
}

.active {
    border-radius: 12px;
    background: linear-gradient(135deg, #FFD700 0%, #FFC700 100%);
    color: black;
}

.active img {
    filter: brightness(0);
    /* Make SVG black */
}

.logout-button {
    display: flex;
    width: 248px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #DC2626;
    border: none;
    cursor: pointer;
    color: white;
}
