html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    padding: 20px;
    height: 100%;
    width: 300px;

}

#logo-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    color: white;
}

#slu-logo,
#org-logo {
    width: 100px;
    height: auto;
    padding: 20px;
    border-radius: 50%;
}


#menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#menu-btn button {
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    background-color: #003366;
    border: none;
    color: white;
}

#top-panel {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid;
    height: 40px;
}

#main-panel {
    display: flex;
    flex-direction: column;
}

#logout-btn {
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    background-color: #DC2626;
    border: none;
    color: white;
}