@font-face {
  font-family: 'Poppins';
  src: url('/resources/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('/resources/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.header h1,
.content-header h1,
.form-header__title,
.logo-section h3 {
  font-family: 'Poppins', sans-serif;
}
